$font-1:300;
$font-2:400;
$font-3:700;

$main-white-color: #fff;
$main-grey-color: #eae8e8;
$main-black-color: black;
$main-blue-color: #1A2A5A;
$second-blue-color: #6D83B8;
$third-dark-color: #8EA1CA;
$main-green-color: #D1D562;
$second-green-color: #689240;



@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" );
@import 'reset';
@import 'general';
@import 'medias';









